{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"editorconfig": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"proseWrap": "preserve",
	"trailingComma": "all",
	"singleQuote": false,
	"quoteProps": "as-needed",
	"semi": true,
	"singleAttributePerLine": false
}
